.mobileTitle {
	position: relative;
	width: 100%;
	text-align: center;
}

@media (min-width: 768px) {
	.mobileTitle {
		&__title {
			display: none;
		}

		&__watchListBtn {
			display: block;
		}

		// &__mobile-fav-btn-container {
		// 	display: none;
		// }

		&__box-title-desktop {
			display: block;
			font-size: 3rem;
		}

		&__text {
			display: none;
		}

		// &__boxes {
		// 	flex-direction: row;
		// 	margin-top: 6em;
		// }

		// &__box {
		// 	&-img {
		// 		width: 25vw;
		// 		max-width: 400px;
		// 	}
		// }
	}
}

// @media (min-width: 1024px) {
// 	.details {
// 		&__box-title-desktop {
// 			font-size: 4rem;
// 		}

// 		&__box-text {
// 			font-size: 1.5rem;
// 			margin-bottom: 1em;
// 		}
// 	}
// }
