.poster__img {
  // width: 100%;
  object-fit: cover;
  object-position: center;
	width: 40vw;
	// max-width: 400px;
}

@media (min-width: 768px) {
	.poster__img {
			width: 35vw;
			max-width: 400px;
	}
}
