.movieInfo {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-left: 1em;
	padding-bottom: 2em;

	&__box {
		display: none;
	}
}

@media (min-width: 768px) {
	.movieInfo {
		&__box {
			display: block;
		}
	}
}
