@use '../../colors';
@use '../../mixins';

.nav {
	align-items: center;
	background-color: colors.$white-color;
	display: flex;
	justify-content: center;
	padding: 0.5em;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
}
