@use '../../colors';
@use '../../mixins';

.nav {
	align-items: center;
	background-color: colors.$white-color;
	display: flex;
	justify-content: center;
	padding: 0.5em;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;

	&__wrapper {
		display: flex;
		width: 100%;
		max-width: 1200px;
		align-items: center;
		justify-content: space-between;
	}

	&__link {
		width: 2em;
	}

	&__logBtn {
		@include mixins.button;
    
		margin-left: 1em;
		padding: 0.5em 1em;
		text-decoration: none;
		color: colors.$primary-color;
	}

	&__searchInput {
		display: none;
	}

	&__linksMobile {
		position: fixed;
		inset: 0;
		min-height: 100vh;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		background-color: colors.$background-color;
		transform: translateX(-100%);
		transition: transform 0.3s ease-in;

		&.show {
			transform: translateX(0);
		}
	}

	&__links {
		display: flex;
		flex-direction: column;
	}

	&__linkMobile {
		position: relative;
		text-decoration: none;
		text-transform: uppercase;
		padding: 0.25em;
		font-size: 2.5rem;
		color: colors.$white-color;
		padding-left: 0.5em;

		&::after {
			content: '';
			position: absolute;
			height: 0em;
			width: 0.1em;
			bottom: 0;
			left: 0;
			background-color: colors.$white-color;
			transition: height 0.3s;
		}

		&:hover::after {
			height: 100%;
		}
	}

	&__box {
		display: flex;
		align-items: center;
	}
}

@media (min-width: 768px) {
	.nav {
		&__searchIcon {
			display: none;
		}

		&__linkSearch {
			text-decoration: none;
		}

		&__searchInput {
			display: block;
			padding: 0.5em 2em;
			width: 30vw;
			text-decoration: none;
			font-size: 1.1rem;
		}
	}
}
