@use '../../colors';
@use '../../mixins';

.search {
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: colors.$white-color;

  &__box {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 1.5em 0;
  }

  &__input {
    @include mixins.input;
    font-size: 1.5rem;
  }
}