@use './colors';

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat') url(./assets/fonts/Montserrat-VariableFont_wght.ttf) format('truetype');
}

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  font-family: Montserrat, sans-serif;
  background-color: colors.$background-color;
  flex-direction: column;
  color: colors.$white-color;
  overflow-x: hidden;
  margin: 0 1em;
}

@media (min-width: 768px) {
  body {
    margin: 0;
  }
}
