@use '../../colors';
@use '../../mixins';

.auth {
	align-items: center;
	color: colors.$white-color;
	display: flex;
	flex-direction: column;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 0 1em 3em;
	width: 100%;
	text-align: center;

	&__errorMsg {
		padding-top: 1.25em;
	}
}

@media (min-width: 546px) {
	.auth {
		width: 30em;
		border: 0.1em solid colors.$primary-color;
		border-radius: 0.25em;
		box-shadow: 0 0 2em colors.$primary-color;
	}
}
