.loading-spinner {
	display: flex;
	align-items: center;
	justify-content: center;
	animation: rotate 1s infinite;
	width: 5em;
	height: 5em;
}

@keyframes rotate {
	from {
		transform: rotate(0);
	}

	to {
		transform: rotate(360deg);
	}
}
