@use '../../colors';

.undo-btn {
  width: 2.5em;
  height: 2.5em;
  margin-top: 1em;
  cursor: pointer;
  padding: 0.2em;

  &:hover {
    background-color: colors.$secondary-color;
    border-radius: 0.25em;
  }
}

.wrapper {
  margin-top: 1em;
}